In [78]:

from pyspark.sql.functions import *
from pyspark.sql.functions import row_number,lit,when, sum, countDistinct, min, max, dateadd,format_number,count,regexp_replace,isnan, regexp_extract, col,substring, concat, replace
from pyspark.sql.types import IntegerType, DoubleType, DateType
from pyspark.sql.window import Window

import pandas as pd
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
    .builder \
    .appName("App Ad").getOrCreate()
#    .config("spark.some.config.option", "some-value") \

spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [108]:
file = "1.csv"

df = spark.read.format("csv") \
       .option("header", "false") \
       .option("inferSchema", "true") \
       .load(file)

In [109]:
print(len(df.columns))
print(df.count())

1
1000

In [110]:
df.show()

+--------------------+
|                 _c0|
+--------------------+
|             8eight1|
|               98126|
|fourfourthreehnbh...|
|        8fivenvvtrlj|
|six3zbhvrfhsevennine|
|427nine6chnqrssxfour|
|threevvxhvx38rktdqm3|
|    eightzgqzr3eight|
|xgjjmnlvznf2ninel...|
|    ninethree15seven|
|37cjnsfbfkqpkxpdvgk8|
|          sgeightwo3|
|               9sbxg|
|1spnthree59ninejj...|
|        six9six2gxmn|
|twothreefdbl6five...|
|   46six47seven27one|
|              four15|
|7sixvmsrrzqnngone...|
| 3fvsghvkqkbfivenine|
+--------------------+
only showing top 20 rows

In [111]:
# for loop
# check for letter or word and add to string

In [112]:
df = df.withColumn("numbers", col("_c0"))
df = df.withColumn("numbers", regexp_replace("numbers", "nine", "ni9ne"))
df = df.withColumn("numbers", regexp_replace("numbers", "eight", "ei8ght"))
df = df.withColumn("numbers", regexp_replace("numbers", "seven", "se7ven"))
df = df.withColumn("numbers", regexp_replace("numbers", "six", "s6ix"))
df = df.withColumn("numbers", regexp_replace("numbers", "five", "fi5ve"))
df = df.withColumn("numbers", regexp_replace("numbers", "four", "fo4ur"))
df = df.withColumn("numbers", regexp_replace("numbers", "three", "th3ree"))
df = df.withColumn("numbers", regexp_replace("numbers", "two", "tw2o"))
df = df.withColumn("numbers", regexp_replace("numbers", "one", "o1ne"))
df.show()

+--------------------+--------------------+
|                 _c0|             numbers|
+--------------------+--------------------+
|             8eight1|            8ei8ght1|
|               98126|               98126|
|fourfourthreehnbh...|fo4urfo4urth3reeh...|
|        8fivenvvtrlj|       8fi5venvvtrlj|
|six3zbhvrfhsevennine|s6ix3zbhvrfhse7ve...|
|427nine6chnqrssxfour|427ni9ne6chnqrssx...|
|threevvxhvx38rktdqm3|th3reevvxhvx38rkt...|
|    eightzgqzr3eight|  ei8ghtzgqzr3ei8ght|
|xgjjmnlvznf2ninel...|xgjjmnlvznf2ni9ne...|
|    ninethree15seven| ni9neth3ree15se7ven|
|37cjnsfbfkqpkxpdvgk8|37cjnsfbfkqpkxpdvgk8|
|          sgeightwo3|        sgei8ghtw2o3|
|               9sbxg|               9sbxg|
|1spnthree59ninejj...|1spnth3ree59ni9ne...|
|        six9six2gxmn|      s6ix9s6ix2gxmn|
|twothreefdbl6five...|tw2oth3reefdbl6fi...|
|   46six47seven27one|46s6ix47se7ven27o1ne|
|              four15|             fo4ur15|
|7sixvmsrrzqnngone...|7s6ixvmsrrzqnngo1...|
| 3fvsghvkqkbfivenine|3fvsghvkqkbfi5ven...|
+--------------------+--------------------+
only showing top 20 rows

In [113]:
df = df.withColumn("numbers", regexp_replace(col("numbers"), "[^0-9]", ""))
df.show()

+--------------------+---------+
|                 _c0|  numbers|
+--------------------+---------+
|             8eight1|      881|
|               98126|    98126|
|fourfourthreehnbh...|    44364|
|        8fivenvvtrlj|       85|
|six3zbhvrfhsevennine|     6379|
|427nine6chnqrssxfour|   427964|
|threevvxhvx38rktdqm3|     3383|
|    eightzgqzr3eight|      838|
|xgjjmnlvznf2ninel...|    29796|
|    ninethree15seven|    93157|
|37cjnsfbfkqpkxpdvgk8|      378|
|          sgeightwo3|      823|
|               9sbxg|        9|
|1spnthree59ninejj...|    13599|
|        six9six2gxmn|     6962|
|twothreefdbl6five...|   236534|
|   46six47seven27one|466477271|
|              four15|      415|
|7sixvmsrrzqnngone...|     7613|
| 3fvsghvkqkbfivenine|      359|
+--------------------+---------+
only showing top 20 rows

In [114]:
df = df.withColumn("first", (substring(col('numbers'),1,1)))
df = df.withColumn("last",(substring(col('numbers'),-1,1)))
df.show()

+--------------------+---------+-----+----+
|                 _c0|  numbers|first|last|
+--------------------+---------+-----+----+
|             8eight1|      881|    8|   1|
|               98126|    98126|    9|   6|
|fourfourthreehnbh...|    44364|    4|   4|
|        8fivenvvtrlj|       85|    8|   5|
|six3zbhvrfhsevennine|     6379|    6|   9|
|427nine6chnqrssxfour|   427964|    4|   4|
|threevvxhvx38rktdqm3|     3383|    3|   3|
|    eightzgqzr3eight|      838|    8|   8|
|xgjjmnlvznf2ninel...|    29796|    2|   6|
|    ninethree15seven|    93157|    9|   7|
|37cjnsfbfkqpkxpdvgk8|      378|    3|   8|
|          sgeightwo3|      823|    8|   3|
|               9sbxg|        9|    9|   9|
|1spnthree59ninejj...|    13599|    1|   9|
|        six9six2gxmn|     6962|    6|   2|
|twothreefdbl6five...|   236534|    2|   4|
|   46six47seven27one|466477271|    4|   1|
|              four15|      415|    4|   5|
|7sixvmsrrzqnngone...|     7613|    7|   3|
| 3fvsghvkqkbfivenine|      359|    3|   9|
+--------------------+---------+-----+----+
only showing top 20 rows

In [115]:
df = df.withColumn('calc',concat(col('first'),col('last')))
df.show()

+--------------------+---------+-----+----+----+
|                 _c0|  numbers|first|last|calc|
+--------------------+---------+-----+----+----+
|             8eight1|      881|    8|   1|  81|
|               98126|    98126|    9|   6|  96|
|fourfourthreehnbh...|    44364|    4|   4|  44|
|        8fivenvvtrlj|       85|    8|   5|  85|
|six3zbhvrfhsevennine|     6379|    6|   9|  69|
|427nine6chnqrssxfour|   427964|    4|   4|  44|
|threevvxhvx38rktdqm3|     3383|    3|   3|  33|
|    eightzgqzr3eight|      838|    8|   8|  88|
|xgjjmnlvznf2ninel...|    29796|    2|   6|  26|
|    ninethree15seven|    93157|    9|   7|  97|
|37cjnsfbfkqpkxpdvgk8|      378|    3|   8|  38|
|          sgeightwo3|      823|    8|   3|  83|
|               9sbxg|        9|    9|   9|  99|
|1spnthree59ninejj...|    13599|    1|   9|  19|
|        six9six2gxmn|     6962|    6|   2|  62|
|twothreefdbl6five...|   236534|    2|   4|  24|
|   46six47seven27one|466477271|    4|   1|  41|
|              four15|      415|    4|   5|  45|
|7sixvmsrrzqnngone...|     7613|    7|   3|  73|
| 3fvsghvkqkbfivenine|      359|    3|   9|  39|
+--------------------+---------+-----+----+----+
only showing top 20 rows

In [116]:
df.select(sum('calc'))

+---------+
|sum(calc)|
+---------+
|  54418.0|
+---------+